.user-profile {
  padding: 15px;
  margin: 5px;
  width: 100%;

  fieldset {
    border: 1px solid #F3F3F3;
    border-radius: 8px;
    padding: 10px 20px;
  }

  .user-profile__header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
}

.user-profile__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  .user-profile__item {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  .user-profile__item > label {
    margin-bottom: 5px;
    font-size: 14px;
  }

  .user-profile__input {
    width: 300px;
    height: 30px;
    padding: 2px 5px;
    border-radius: 5px;
    border: 1px solid #D8D8D8;
    &:invalid {
      border-color: red;
    }
  }

  .user-profile__textarea {
    border-radius: 5px;
    border: 1px solid #D8D8D8;
    padding: 2px 5px;
  }
  .btn-submit {
    border: none;
    padding: 8px;
    background-color: #52CF4F;
    border-radius: 8px;
    line-height: 20px;
    font-family: Roboto, sans-serif;
    color: white;
    cursor: pointer;
    transition: .2s;
    text-align: center;
    align-self: flex-end;
    margin: 10px;

    &:hover {
      background-color: #40ce3d;
      box-shadow: -1px 1px 5px -2px rgba(0,0,0,0.5);
    }
    &:active {
      background-color: #52CF4F;
    }
    &:disabled {
      background-color: #AFAFAF;
    }
  }
}